[user]
	name = Zuruuh
	email = ziadi.mail.pro@gmail.com
[core]
    excludesfile = ~/.gitignore
	editor = nvim
    pager = delta

[interactive]
    diffFilter = delta --color-only

[add.interactive]
    useBuiltin = false

[delta]
    navigate = true
    light = false

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = false

[init]
    defaultBranch = main

