toolbox#navigator-toolbox {
    flex-direction: row-reverse;
    width: 100%;
    flex-wrap: wrap;

    & #nav-bar {
        flex: 1;
        padding-top: 4px !important;

        & toolbarspring.chromeclass-toolbar-additional {
            flex: initial !important;
            width: 50px;
        }
    }

    & #titlebar {
        width: fit-content;

        & #toolbar-menubar {
            display: none;
        }

        & #TabsToolbar {
            width: fit-content;

            & > *:not(:last-child) {
                display: none;
            }
        }
    }

    & #PersonalToolbar {
        flex-basis: 100vw;
    }
}

tab.tabbrowser-tab[pending="true"] {
    filter: brightness(50%);
}
